@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');


body{
  font-family: 'Overpass', sans-serif;
}

html{
  font-size: 62.5%;
}

.page-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #131518;
}
.container>div{
  width: 80%;
}

.container{
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
  min-width: 32.7rem;
  width: 45%;
  max-width: 45rem;
  height: 36rem;
  display: flex;
  border-radius: 3rem;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  justify-content: space-around;
}

*{
  box-sizing: border-box;
}